:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --grey: #A9A9A9;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --card-size: 240px;
    --card-size-mb: 200px;
    --img-size: 150px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.inactive {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    margin-left: 36px;
    width: 96%;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-input-field);
}

.menu {
    display: none
}

.navbar-logo {
    width: 150px;
    margin-left: 0;
    padding-left: 6px;
}

.navbar-left ul, .navbar-right ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-right ul li:last-child {
    margin-right: 24px;
}

.navbar-left {
    display: flex;
}

.navbar-left ul li a, .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    font-size: var(--lg);
    padding: 10px;
    margin-right: 0px;
}

.navbar-left ul li a:hover, .navbar-right ul li a:hover {
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    border-radius: 10px;
}

.navbar-right .navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    padding: 10px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-right .navbar-email img{
    width: 10px;
    height: 10px;
    padding: 0 10px;
    align-items: center;
    margin-right: 10px;
    margin-top: 1px;
}

.navbar-shopping-cart {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.navbar-shopping-cart img {
    width: 20px;
    height: 20px;
    padding: 0 10px;
    align-items: center;
}

.navbar-shopping-cart div {
    position: absolute;    
    top: -8px;
    right: -16px;
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-right: 12px;

}

.profile-menu {
    height: 160px;  
    width: 130px;
    box-shadow: var(--very-light-pink) 0px 0px 10px 0px;
    background-color: var(--white);
    border: 1px solid var(--white);
    position: fixed;
    top: 61px;
    right: 120px;
    margin-right: 16px;
    border-radius: 8px;    
}

.profile-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-menu ul li a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.profile-menu ul li {
    padding: 10px;
    text-align: center;
    padding: 10px;
}

.profile-menu ul li:last-child {
    padding-top: 20px;
    align-items: center;
    border-top: 1px solid var(--very-light-pink);
    font-size: var(--sm);
}

.profile-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--md);
    font-weight: bold;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login-button {
    background-color: var(--hospital-green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: var(--md);
    font-weight: 500;
    cursor: pointer;
    width: 240px;
}

.login-button:hover {
    background-color: var(--dark);
}
    
.form {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form a {
    color: var(--hospital-green);
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 10px;
}

.form a:hover {
    text-decoration: underline;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 350px;
    width: 100%;    
    justify-items: center;
}

.cards-container {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 50px;
    place-content: center;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 10px;
    align-items: center;
    padding: 0 5px 0 24px;
    border-radius: 5px;
    background-color: var(--text-input-field);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
    padding-right: 0;
}

.my-order {
    width: 100%;
    height: 100vh;
    display: grid;    
    place-items: center;
}

.my-order-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;    
}

.my-order-container h1{
    margin-bottom: 20px;
    font-size: var(--lg);
    text-align: left;
}

.my-order-content {
    display: flex;
    flex-direction: column;
}

.shopping-card {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 25px;
    margin-bottom: 20px;
    align-items: center;
}

.shopping-card figure {
    margin: 0;
}    

.shopping-card figure img {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    box-shadow: var(--grey) 0px 0px 5px 0px;
    object-fit: cover;
}

.shopping-card p:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.shopping-card p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.shopping-cart1 {
    background-color: var(--white);
    width: 380px;
    height: 620px;
    box-sizing: border-box;
    position: absolute;
    padding: 0 24px;
    right: 2px;
    border-radius: 5px;
    box-shadow: var(--very-light-pink) 0px 0px 10px 0px;
}

.shopping-cart1-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    position: absolute;
    right: 0;
}

.shopping-cart-header {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--very-light-pink);
}

.shopping-cart1-container h1{
    margin-bottom: 20px;
    font-size: var(--lg);
    text-align: left;
    height: 100%;
}

.shopping-cart-content {
    display: flex;
    flex-direction: column;
}

.shopping-card1 {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 25px;
    margin-bottom: 20px;
    align-items: center;
}

.shopping-card1 figure {
    margin: 0;
}    

.shopping-card1 figure img {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    box-shadow: var(--grey) 0px 0px 5px 0px;
    object-fit: cover;
}

.shopping-card1 p:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.shopping-card1 p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.remove-button {
    cursor: pointer;    
}

.total-order {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 10px;
    align-items: center;
    padding: 0 5px 0 24px;
    border-radius: 5px;
    background-color: var(--text-input-field);
    box-shadow: var(--grey) 0px 0px 7px 0px;
    margin-bottom: 25px;
}

.total-order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.total-order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.total-order p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.total-order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
    padding-right: 0;
}

.checkout-button {
    background-color: var(--hospital-green);
    color: var(--white);
    border: none;
    border-radius: 6px;
    margin-right: 12px;
    width: 100%;
    height: 50px;
    font-size: var(--md);
    font-weight: bold;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: var(--dark);
}

.product-card {
    width: var(--card-size);
    border: 1px solid var(--very-light-pink);
    border-radius: 20px;
    box-shadow: var(--very-light-pink) 5px 5px 15px 5px;
}

.product-card:hover {
    box-shadow: var(--very-light-pink) 0px 0px 20px 10px;
    cursor: pointer;
}

.product-image {
    width: var(--card-size);
    height: var(--card-size);
    margin-bottom: 20px;
    border-radius: 20px;
    object-fit: cover;
}

.add-to-cart {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    align-self: center;
    cursor: pointer;
}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.product-info-p {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    font-size: var(--md);
    font-weight: bold;
}

.product-price {
    font-size: var(--lg);
    color: var(--grey);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.product-info figure {
    margin: 0;
}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.title-account {
    font-size: var(--lg);
    margin-bottom: 25px;
    text-align: start;
}

.subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.email-image img {
    width: 80px;
}

.resend {
    font-size: var(--sm);
}

.resend span {
    color: var(--dark);
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.resend a {
    color: var(--hospital-green);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.resend a:hover {
    text-decoration: underline;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 10px;
}

.input {
    background-color: var(--text-input-field);
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 4px;    
    padding: 8px 12px;
    margin-bottom: 16px;
    font-size: var(--md);
}

.input-name, .input-email, .input-password {
    margin-bottom: 32px;
    width: 100%;
}

.primary-button {
    background-color: var(--hospital-green);
    color: var(--white);
    border: none;
    border-radius: 6px;
    margin: 12px;
    width: 100%;
    height: 50px;
    font-size: var(--md);
    font-weight: bold;
    cursor: pointer;
}

.primary-button:hover {
    background-color: var(--dark);
}

.product-detail {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--very-light-pink) 0px 0px 15px 5px;
    max-width: 360px;
    position: absolute;
    right: 0;
}

.product-detail > img:nth-child(1){
    position: inherit;
    top: 0;
}

.close-button {
    width: 14px;
    height: 14px;
    padding: 2px;
    background-color: var(--white);
    border-radius: 50%;
    z-index: 2;
    margin-top: 12px;
    margin-left: 12px;
}

.close-button:hover {
    background-color: var(--text-input-field);
    box-shadow: var(--very-light-pink) 0px 0px 5px 2px;
}

.product-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: var(--grey) 0px 0px 10px;
    border-radius: 0 0 20px 20px;
}

.points {
    display: flex;
    justify-content: center;
}
.points > li {
background: var(--very-light-pink);
width: 8px;
height: 8px;
margin: 8px 6px;
border-radius: 50%;
list-style-type: none;
cursor: pointer;
}
.points > .active {
background: var(--hospital-green);
}
.points > li:hover {
background: var(--hospital-green);
}

.product-info-detail {
    margin: 0 24px;
}

.product-info-detail p:nth-child(1) {
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 0;
}

.product-info-detail p:nth-child(2) {
    font-size: var(--md);
    font-weight: 500;
    color: var(--grey);
    margin-bottom: 20px;
    margin-top: 5px;
}

.product-info-detail p:nth-child(3) {
    font-size: var(--sm);
    color: var(--very-light-pink);
    margin-bottom: 0;
}

.product-detail > img:hover {
    cursor: pointer;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 24px;
}

.add-to-cart-button:hover {
    background-color: var(--hospital-green);
}

.secondary-button {
    background-color: var(--white);
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    border-radius: 4px;
    margin-left: 25px;
    width: 100%;
    height: 50px;
    font-size: var(--md);
    font-weight: bold;
    cursor: pointer;
}

.secondary-button:hover {
    background-color: var(--hospital-green);
    color: var(--white);
}

@media (max-width: 640px) {
    .logo {
        display: block;
    }

    .login-button {
        width: 240px;
        margin-bottom: 20px;
        margin-left:0;
        bottom: 0;
        position: absolute;
    }

    .shopping-cart1 {
        width: 100%;
    }

    .shopping-cart-header h1 {
        text-align: center;
    }


    .shopping-cart1-container {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        width: 90%;
        height: 100%;
        position: relative;
        padding: 0;
    }

    .secondary-button {
        width: 230px;
        margin-bottom: 30px;
        bottom: 0;
        position: absolute;
    }

    .checkout-button {
        position: relative;
        bottom: 0;
        margin-bottom: 25px;
    }

    .create-account-button {
        width: 230px;
        margin-bottom: 30px;
        bottom: 0;
        position: absolute;
    }

    .cards-container {
        grid-template-columns: repeat(auto-fill, 200px);
        gap: 26px;
    }

    .add-to-cart {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        object-fit: cover;
        align-self: center;
        cursor: pointer;
    }

    .product-card {
        width: var(--card-size-mb);
    }
    
    .product-image {
        width: var(--card-size-mb);
        height: var(--card-size-mb);
        border-radius: 20px;
        object-fit: cover;
    }

    .product-detail {
        background-color: var(--white);
        max-width: 100%;
        position: absolute;
    }

    .add-to-cart-button {
        width: 100%;
        margin-bottom: 24px;
    }

    .nav {
        display: none;
        width: 98%;
    }

    .navbar-left {
        width: 200px;
        border-bottom: #232830;
    }

    .navbar-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 54px;
        width: 100%;
        height: 100%;

    }

    .navbar-left ul {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: left;
    }

    .navbar-right ul li:nth-child(1) {
        display: none;
    }

    .navbar-right div {
        margin-right: 12px;
    }

    .profile-menu {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        background-color: var(--white);
        top: 61px;
        left: 0;
        width: calc(100% - 24px);
        height: 100%;
        padding-left: 24px;
    }

    .mobile-menu a {
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
        display: inline-block;
        font-size: var(--lg);
    }
    
    .mobile-menu h1 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 50px;
        text-align: start;
    }
    
    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 40px 0 0;
    }
    
    .mobile-menu ul:nth-child(1) {
        border-bottom: 1px solid var(--very-light-pink);
    }
    
    .mobile-menu ul li {
        margin-bottom: 30px;
    }
    
    .mobile-menu .email {
        font-size: var(--sm);
        color: var(--grey);
        font-weight: 400;
        margin: 0;
    }
    
    .mobile-menu .sign-out {
        font-size: var(--sm);
        color: var(--hospital-green);
        font-weight: bold;
        margin:  0;
    }
    
    .mobile-menu ul:nth-child(2) {
        margin-top: 50px;
    }
    
    .mobile-menu ul:last-child {
        position: relative;
        bottom: 0;
    }
}

@media (min-width: 640px) {
    .mobile-menu {
        display: none;
    }
}